.image_with_info_layout {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.title_container {/* show in 4X4 */
    display-index: 2;
    flex-weight: 18;
    min-height: 148px;
    background-image: url("/common/template.png");
    width: 100%;
}

.items_container {/* show in 2X2,2X4,4X4 */
/*适用于div等支持flex布局的容器组件中的子组件上，当容器组件在flex主轴上尺寸不足以显示全部内容时，
    按照display-index值从小到大的顺序进行隐藏，具有相同display-index值的组件同时隐藏，缺省值为Infinity，表示不隐藏*/
    display-index: 1;
/*指明当前元素在flex主轴方向上尺寸权值，当且仅当容器组件中所有节点均设置此属性时生效。
    （容器主轴尺寸*当前权值）/ 所有子元素权值和*/
    flex-weight: 20;
    min-height: 148px;
}
.temperature{
    font-size: 35px;
    color: #e5ffffff;
    margin-left: 4%;
    margin-top: 30px;
}

.image_container{
    height: 75px;
    width: 75px;
    position: absolute;
    right: 4%;
    top: 10px;
}

.text_container{
    flex-direction: column;
    justify-content: flex-end;
    margin: 12px 12px 12px 12px;
}

.primary_info{
    font-size: 17px;
    color: #e5ffffff;
}

.secondary_info{
    font-size: 13px;
    color: #99ffffff;
}

.items_container{
    display-index: 1;
    flex-weight: 20;
    min-height: 170px;
}
